@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #1E2128;
  font-family: Inter, Arial, Helvetica, Verdana, sans-serif;
  color: #fff;
  font-size: 16px;
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content.rtl {
  direction: rtl;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.7rem;
}

/* language switcher */

.content.rtl .dropdown {
  order: 1;
}

.dropdown-content {
  position: absolute;
  display: none;
  color: #fff;
  background-color: #1E2128;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 5px;
}

.dropbtn {
  width: 40px;
  text-decoration: underline;
}

.dropdown-content a {
  padding: 5px;
  text-decoration: none;
  display: block;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #A4A4A4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-wrap {
  text-align: center;
}

.h1,
.h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.toggle-wrap {
  display: flex;
  margin: 0.875em auto 2.9em;
}

.toggle-wrap img {
  margin-right: 0.5rem;
}

.secondary-text {
  margin: 0 4rem 2.5rem;
  color: #A4A4A4;
  text-align: center;
  font-size: 0.75rem;
  font-family: Inter, Arial, Helvetica, Verdana, sans-serif;
}

/* phone form */

.phone-form,
.pin-form {
  text-align: center;
  width: 308px;
  margin: auto;
}

.phone-form.hidden {
  display: none;
}

.phone-form.hidden~.read-more-wrap {
  align-items: end;
}

.phone-form.hidden~.button-ref-box {
  display: flex;
}

.label {
  display: block;
  margin-bottom: 1rem;
  text-align: start;
}

.phone-box {
  position: relative;
}

.phone-form .iti--separate-dial-code input,
.phone::placeholder {
  text-align: center;
}

.phone-form .phone {
  height: 45px;
  width: 308px;
  background-color: #F8F7FF;
  border-radius: 6px;
  border: none;
  text-align: center;
}

.phone::placeholder {
  padding-right: 40px;
  color: #818181;
  font-size: 0.875rem;
  font-family: Roboto, Open-Sans, serif;
  font-style: italic;
  font-weight: 300;
}

.iti__country-list {
  width: 214px;
}

.iti__arrow {
  display: none;
}

.phone-form .iti--separate-dial-code .iti__selected-flag {
  background-color: #F8F7FF;
  color: #818181;
  font-size: 0.875em;
  font-family: Roboto, Open-Sans, serif;
  font-weight: 500;
}

.iti__flag-container::before {
  content: " ";
  position: absolute;
  background: #D9D9D9;
  width: 1px;
  height: 26px;
  left: 49px;
  top: 10px;
  z-index: 2;
}

.iti__dial-code,
.iti__country-name {
  color: #818181;
  font-family: Roboto, Open-Sans, serif;
}

.confirmed.active {
  display: block;
}

.confirmed {
  position: absolute;
  background-color: #29D884;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 3.4;
  display: none;
}

.submit-button {
  width: 308px;
  height: 52px;
  margin-top: 1.1rem;
  border: none;
  border-radius: 5px;
  background-color: #797C7B;
  color: #fff;
  font-size: 1rem;
  font-family: Roboto, Open-Sans, serif;
  font-weight: 700;
}

.submit-button.active {
  background-color: #29D884;
  cursor: pointer;
}

/* pin-form */

.pin-form {
  display: none;
}

.pin-form.active {
  display: block;
}

.pin-form .label {
  text-align: center;
}

.pin-box {
  display: flex;
  justify-content: center;
}

.padlock-icon {
  margin-right: 1rem;
}

.content.rtl .padlock-icon {
  order: 1;
}

.pin-cells {
  display: flex;
}

.cell {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  margin-right: 0.875rem;
  padding: 10px;
  background: linear-gradient(#C9C9C9, #C9C9C9) center bottom 5px /calc(100% - 10px) 1px no-repeat;
  background-color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
}

/* rate text */

.rate {
  color: #9A9A9A;
  font-size: 0.75rem;
  text-align: center;
  font-family: Roboto, Open-Sans, serif;
}

/* buttons for pin form */

.button-ref-box {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.button-ref {
  color: #FFF;
  font-size: 0.875rem;
  font-family: Roboto, Open-Sans, serif;
  font-weight: 300;
  text-decoration: underline;
}

/* read more block */

.read-more-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-more-box {
  display: flex;
  margin: 1rem auto 2.5rem;
  color: #8F8F8F;
}

.chevron-svg {
  width: 1rem;
}

.chevron-svg.active {
  transform: rotate(180deg);
}

.read-more-button-text,
.read-less-button-text {
  margin: 0 1rem;
  text-decoration: underline;
}

.read-less-button-text.hidden,
.read-more-button-text.hidden {
  display: none;
}

.read-more-text-box {
  display: none;
}

.read-more-text-box.displayed {
  display: block;
}

.read-more-text {
  margin: 1.4rem 3rem;
  color: #EBEBEB;
  font-size: 0.75rem;
  font-family: Roboto, Open-Sans, serif;
}

.read-more-reference {
  color: #AED300;
}

/* footer */

.footer {
  margin-top: auto;
  text-align: center;
  font-family: Roboto, Open-Sans, serif;
}

.nav {
  margin: 0 auto 1.375em;
}

.nav>a {
  margin: 0 1.2em;
  color: #BABABA;
  font-size: 0.875rem;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.footer-logo {
  width: 70px;
  height: 14px;
}

.copyright {
  color: #BABABA;
  font-size: 10px;
}

.warning {
  color: red;
  font-weight: 700;
}